@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome to 麗茶's Travelogue</h1>
    <br />
    <br />
    <h1>&#x1F5FA</h1>
    <br />
    <br />
    <h2>Where was 麗茶?</h2>
    <br />
    <br />
    <br />
    <p>Some hints in <a href="https://leticiavalladares.me">my personal website</a>.</p>
</div>
