@{
    ViewData["Title"] = "麗茶's Travelogue Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>
<br />
<h4>What data do we collect?</h4>
<p> Our Company collects the following data: Personal identification information (email address)</p>
<br />
<h4>How do we collect your data?</h4>
<p>You directly provide Our Company with most of the data we collect. We collect data and process data when you: <a asp-action="Register">Register online</a>.</p>
<br />
<h4>How will we use your data?</h4>
<p>Our Company collects your data so that we can: Process your entry.</p>
<br />
<h4>How do we store your data?</h4>
<p>Our Company securely stores your data at a Microsoft Datacenter located in Berlin, Germany. Likewise we will keep your email address for 1 year. Once this time period has expired, we will delete your data by Erasure (Overwriting).</p>
<br />
<h4>What are your data protection rights?</h4>
<p>Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<ul>
    <li>The right to access – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</li>
    <li>The right to rectification – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</li>
    <li>The right to erasure – You have the right to request that Our Company erase your personal data, under certain conditions.</li>
    <li>The right to restrict processing – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to object to processing – You have the right to object to Our Company’s processing of your personal data, under certain conditions.</li>
    <li>The right to data portability – You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:info@traveloguewebapp.com">info@traveloguewebapp.com</a></p>