/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #7899d4;
}

.btn-primary {
    color: #554568;
    background-color: #7fc29b;
    border-color: transparent !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #7fc29b;
    background-color: #312f2f;
    border-color: #1861ac;
}

.table {
    color: #5cd5ce !important;
}

    .table thead th {
        border-bottom: 2px solid #c17cfb !important;
    }

    .table td, .table th {
        border-top: 1px solid #c17cfb !important;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #7899d4 !important;
}
.border-bottom {
    border-bottom: 1px solid #7899d4 !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    color: #5cd5ce;
    margin-bottom: 60px;
    background-color: #2f2f2f;
}
.navbar {
    background-color: #303030 !important;
}

.navbar-light .navbar-brand {
    color: #554568;
}

.text-dark {
    color: #2a9d8f !important;
}

 .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
